.container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(235, 232, 232);
    padding: 10px;
    row-gap: 20px;
   

}

    .box {
        background-color:black;
        height: 200px;
        width: 200px;
        text-align: center;
        padding: 20px;
        display: flex;
        justify-content: center; 
        align-items: center;   
        color: white;  
        flex-wrap: wrap;
    }
    @media (max-width: 768px) {
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 100vh;
        }
    
        .box {
            width: 100%; 
            max-width: 300px; 
        }
    }
    